<!-- <footer class="footer">
    &copy; <%= new Date().getFullYear(); %> Mr. Anjaan ♥ Build with NodeJS and MongoDB
</footer> -->

<footer class="bg-body-tertiary text-center text-lg-start fixed-bottom">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      &copy; <%= new Date().getFullYear(); %> - Mr. Anjaan ♥ Build with NodeJS and MongoDB
    </div>
    <!-- Copyright -->
  </footer>